@model EditCategory
@{ ViewData["Title"] = "Edit Category"; }

<h1>Edit</h1>

<form asp-action="Edit" method="post">
    <label asp-for="@Model.CreateCategory.Name" style="margin-left: 39px"></label>
    <input asp-for="@Model.CreateCategory.Name" />
    <span asp-validation-for="@Model.CreateCategory.Name"></span><br /><br />

    <label asp-for="@Model.CreateCategory.Description" style="margin-left: 0px"></label>
    <textarea asp-for="@Model.CreateCategory.Description"></textarea>
    <span asp-validation-for="@Model.CreateCategory.Description"></span><br /><br />

    <button style="margin-left: 85px">Save changes</button>
</form>

<br />
<a asp-action="Index" asp-controller="Categories" style="margin-left: 80px">|Back|</a>